.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #A94A4A; /* vermelho baton atualizar depois na lista de variaveis*/
  position: sticky; 
  top: 0; /* Ele vai se fixar no topo da página quando rolar */
  z-index: 1000; /* Para garantir que fique acima de outros elementos */
}

.logo {
  height: 40px;
}

.header-nav {
  position: relative;
}

.header-list {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.header-list-item a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff5e0; /* tom creme atualizar depois na lista de variaveis*/
  transition: transform 0.2s ease, color 0.2s ease;
  display: inline-block;
}

.header-list-item a:hover {
  color: #889E73; /* tom verde atualizar depois na lista de variaveis*/
  transform: scale(1.05);
  font-weight: 700;
}

.header-list-item a:active {
  color: #889E73;
  transform: scale(1.05);
}

.header-button {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.header-button i {
  font-size: 2rem;
  color: #ffffff;
}

/* Responsividade */
@media (max-width: 768px) {
  .header-list {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    flex-direction: column;
    background-color: #fff5e0;
    border: 1px solid #ccc;
    padding: 1rem;
    z-index: 999;
  }

  .header-list.show {
    display: flex;
  }

  .header-list-item a {
    color: #A94A4A;
  }

  .header-list-item a:hover {
    color: #889E73;
  }

  .header-button {
    display: block;
  }
}
