@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url(../css/variaveis.css);

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--espacamento-medio) var(--espacamento-grande);
  background-color: var(--cor-bordo); 
  position: sticky; 
  top: 0; 
  z-index: var(--z-index-menu-acessibilidade); 
  height: 80px;
  min-height: 80px; 
}

.logo {
  max-height: 150%; /* conferir problema de renderização da imagem, imagem carrega maior depois diminui para tamanho ideal */
  width: auto;
  object-fit: contain;
  display: block; 
}

.header-nav {
  position: relative;
}

.header-list {
  display: flex;
  list-style: none;
  gap: var(--espacamento-medio);
  align-items: center; 
  height: 100%;
  margin: 0;
  padding: 0;
}

.header-list-item {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-list-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 var(--espacamento-pequeno);
  font-family: "JetBrains Mono", monospace;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--cor-contraste-branco);
  transition: transform 0.2s ease, color 0.2s ease;
  line-height: 1; 
}

.header-list-item a:hover {
  color: var(--cor-verde);
  transform: scale(1.05);
  font-weight: 700;
}

.header-list-item a:active {
  color: var(--cor-verde);
  transform: scale(1.05);
}

.header-button {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.header-button i {
  font-size: 2rem;
  color: var(--cor-contraste-branco);
}

/* Responsividade */
@media (max-width: 768px) {
  .header-list {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    flex-direction: column;
    background-color: var(--cor-bordo);
    border: 2px solid var(--cor-borda);
    padding: var(--espacamento-pequeno) 0 var(--espacamento-grande) 0;
    z-index: var(--z-index-menu-acessibilidade);
  }

  .header-list.show {
    display: flex;
  }

  .header-list-item a {
    display: block;
    padding: var(--espacamento-medio) var(--espacamento-grande);
    transition: background-color 0.3s ease;
  }
  

  .header-list-item a:hover {
    color: var(--cor-verde); 
    transition: background-color 0.3s ease;
  }
  .header-button {
    display: block;
  }
}
