/* importar todos os css*/
@import url(../css/reset.css);
@import url(../css/variaveis.css);
@import url(../css/fontes.css);
@import url(../css/acessibilidade.css);
@import url(../css/header.css);
@import url(../css/banner.css);
@import url(../css/cronometro.css);
@import url(../css/conteudo.css);
@import url(../css/cards-pratos.css);
@import url(../css/lista-regras.css);
@import url(../css/contato.css);
@import url(../css/footer.css);
@import url(../css/mediaqueries.css);


html {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

main {
    padding-top: 80px; 
}

body {
    background-image: url('../images/fundo1.png'); 
    background-size: 100%;  
    background-repeat: repeat-y; 
    background-attachment: fixed; 
    background-position: top center; 
    margin: 0;
    padding: 0;
}
